parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:findByIdentifiers\\(\\)\\.$#"
			count: 1
			path: src/AuthenUserProvider.php

